.insert-block.text-center
  a.btn.btn-default.btn-block[href="#" data-toggle="modal" data-target="#insert-block-modal-#{level}"]
    i.fa.fa-plus
    '
    | ブロックを追加する

.modal.fade[id="insert-block-modal-#{level}"]
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title ブロックの追加
      .modal-body
        = link_to admin_article_article_blocks_path(article.uuid), \
          class: %w[btn btn-app btn-default js-insert-article-block], \
          data: { \
            remote: true, \
            disable: true, \
            method: :post, \
            params: { article_block: { level: level, blockable_type: 'sentence'  } } \
           } do
          i.fa.fa-edit
          '
          | 文章

        = link_to admin_article_article_blocks_path(article.uuid), \
          class: %w[btn btn-app btn-default js-insert-article-block], \
          data: { \
            remote: true, \
            disable: true, \
            method: :post, \
            params: { article_block: { level: level, blockable_type: 'medium'  } } \
           } do
          i.fa.fa-image
          '
          | 画像

        = link_to admin_article_article_blocks_path(article.uuid), \
          class: %w[btn btn-app btn-default js-insert-article-block], \
          data: { \
            remote: true, \
            disable: true, \
            method: :post, \
            params: { article_block: { level: level, blockable_type: 'embed' } } \
            } do
          i.fa.fa-youtube-play
          '
          | 埋め込み

      .modal-footer
        button.btn.btn-default[data-dismiss="modal"] 閉じる
